.no-image {
  height: 250px;
  width: 250px;
}

.new-post {
  font-size: 2rem;
}

.wrapper {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.return-new {
  font-size: 2rem;
}

.delete-image {
  margin-top: 20px;
  font-size: 2rem;
}

.return-edit {
  margin-top: 15px;
  font-size: 2rem;
}
